body {
  background-color: #f8f8f8;
  color: #333;
  font-family: sans-serif;
}

h1 {
  font-size: 2em;
  margin-top: 0;
}

link[rel="icon"] {
    border-radius: 50%; /* Arredonda todos os cantos com raio de 50% */
}